@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

:root {
  --grid-cols: 1;
  --grid-rows: 1;
  --grayColor: rgb(51, 49, 49);
  --whiteColor: rgb(255, 255, 255);
  --redBG: rgb(240, 76, 76);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  max-width: 128rem;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(165, 165, 165);
  font-size: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
}

header {
  background-color: var(--redBG);
  border: 1px solid var(--redBG);
  border-radius: 2rem 2rem 0 0;
  min-width: 90rem;
  font-size: 6rem;
  padding: 2rem;
  text-align: center;
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  background-color: var(--whiteColor);
  border: solid var(--redBG);
  border-width: 1rem 10.1rem 0;
  min-width: 90rem;
  height: 40rem;
}

footer {
  background-color: var(--redBG);
  border: 1px solid var(--redBG);
  border-radius: 0 0 2rem 2rem;
  min-width: 90rem;
}

footer section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#center-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.flex-row {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.dot {
  height: 8rem;
  width: 8rem;
  background-color: var(--whiteColor);
  border-radius: 50%;
  border: 2px solid var(--grayColor);
}

button {
  background-color: var(--whiteColor);
  color: var(--grayColor);
  font-size: 1.8rem;
  width: 10rem;
  height: 5rem;
  border: 2px solid var(--grayColor);
  border-radius: 0.5rem;
  cursor: pointer;
}

.activeColor {
  background-color: var(--grayColor);
  color: var(--whiteColor);
}

#colorContainer {
  position: relative;
  overflow: hidden;
  width: 10rem;
  height: 5rem;
  border: 2px solid var(--grayColor);
  border-radius: 0.5rem;
}

#colorChooser {
  position: absolute;
  border: none;
  width: 11.6rem;
  height: 11.6rem;
  top: -1rem;
  right: -1rem;
}

#grid-size {
  -webkit-appearance: none;
  width: 40rem;
  height: 1.5rem;
  border-radius: 1.5rem;
  background-color: var(--grayColor);
}

#grid-size::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--whiteColor);
  cursor: pointer;
}

#grid-size::-moz-range-thumb {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--whiteColor);
  cursor: pointer;
}
