:root {
  --grid-cols: 1;
  --grid-rows: 1;
  --grayColor: rgb(51, 49, 49);
  --whiteColor: rgb(255, 255, 255);
  --redBG: rgb(240, 76, 76);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Italianno', cursive;
  background-color: rgb(165, 165, 165);
}

#grid-header {
  margin-top: 100px;
  padding-top: 30px;
  background-color: var(--redBG);
  border: 1px solid var(--redBG);
  border-radius: 20px 20px 0 0;
  width: 1000px;
  height: 100px;
  font-size: 80px;
  text-align: center;
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  background-color: var(--whiteColor);
  border: solid var(--redBG);
  border-width: 10px 101px 0;
  width: 800px;
  height: 500px;
}

#grid-controls {
  background-color: var(--redBG);
  border: 1px solid var(--redBG);
  border-radius: 0 0 20px 20px;
  width: 1000px;
  height: 140px;
}

#buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#center-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#color-section {
  display: flex;
  flex-direction: row;
}

#slider-section {
  display: flex;
}

.dot {
  height: 80px;
  width: 80px;
  background-color: var(--whiteColor);
  border-radius: 50%;
}

button {
  background-color: var(--whiteColor);
  color: var(--grayColor);
  font-size: 15px;
  font-weight: 600;
  width: 100px;
  height: 50px;
  border: 2px solid var(--grayColor);
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

.activeColor {
  background-color: var(--grayColor);
  color: var(--whiteColor);
}

.clearGrid {
  background-color: var(--whiteColor);
}

#colorContainer {
  position: relative;
  overflow: hidden;
  width: 96px;
  height: 46px;
  border: 2px solid var(--grayColor);
  border-radius: 5px;
  margin-right: 5px;
}

#colorChooser {
  position: absolute;
  border: none;
  width: 116px;
  height: 116px;
  top: -10px;
  right: -10px;
}

#slider-section {
  display: flex;
  align-items: center;
}

#slider-section p {
  font-size: 20px;
  font-weight: 800;
  margin-right: 10px;
}

#grid-size {
  -webkit-appearance: none;
  width: 400px;
  height: 15px;
  border-radius: 15px;
  background-color: var(--grayColor);
}

#grid-size::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--whiteColor);
  cursor: pointer;
}

#grid-size::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--whiteColor);
  cursor: pointer;
}

#footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 45px;
}

#footer a {
  text-decoration: none;
  color: black;
}

#logo {
  width: 40px;
  height: auto;
  margin: 5px;
}

@media (max-width: 1200px) {
  #grid-header {
    margin-top: 80px;
  }
}
