:root {
  --grid-cols: 1;
  --grid-rows: 1;
  --grayColor: rgb(51, 49, 49);
  --whiteColor: rgb(255, 255, 255);
}

#grid-container {
  display: grid;
  background-color: var(--whiteColor);
  border: 1px solid rgb(0, 0, 0);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  width: 800px;
  height: 800px;
}

.grid-item {
  border: 1px solid rgb(0, 0, 0);
  text-align: center;
}

#buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 10px;
}

button {
  background-color: var(--whiteColor);
  color: var(--grayColor);
  font-size: 15px;
  font-weight: 600;
  width: 100px;
  height: 50px;
  border: 2px solid var(--grayColor);
  border-radius: 5px;
  cursor: pointer;
}

.activeColor {
  background-color: var(--grayColor);
  color: var(--whiteColor);
}

.clearGrid {
  background-color: var(--whiteColor);
}

#colorContainer {
  position: relative;
  overflow: hidden;
  width: 96px;
  height: 46px;
  border: 2px solid var(--grayColor);
  border-radius: 5px;
}

#colorChooser {
  position: absolute;
  border: none;
  width: 116px;
  height: 116px;
  top: -10px;
  right: -10px;
}
